// Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

// Font family
$font-primary: 'Inter', sans-serif;

// Colors
$primary: #0445b1;
$primary-light: #0c57a6;
$text-primary: #131d2d;
$gray: #eef2f8;
$gray2: #f4f7fb;
$gray3: #e5e9ee;
$gray4: #c3c9d2;
$gray5: #9fa7b3;
$gray6: #565b65;
$slider-color: #7384a0;
$input-color: #f7f9fb;
$red: #d62020;
$blue: #1c5bd5;
$black: #000;
$white: #fff;

$warning: #997f21;
$success: #21994a;
$danger: #992121;
$light-info: #e4f2ff;
$light-warning: #fff9e4;
$light-success: #e4ffe5;
$light-danger: #ffebeb;

$shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.11);
$card-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.06);
$transition: all 0.3s ease-in-out;

// Shadow styles
@mixin shadow {
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: $shadow;
  }
}
// Flex styles
@mixin flex {
  display: flex;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin line-clamp1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

@mixin line-clamp2 {
  @include line-clamp1;
  -webkit-line-clamp: 2;
}

.flex-center {
  @include flex-center;
}
.line-clamp1 {
  @include line-clamp1;
}

//Scroll
@mixin scroll {
  overflow-y: auto;
  /* width */
  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $gray;
    border-radius: 50px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #b8cae5;
    border-radius: 50px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #b8cae5;
  }
}

@mixin scroll_10 {
  @include scroll();
  /* width */
  &::-webkit-scrollbar {
    width: 10px;
  }
}

@mixin scroll-x {
  @include scroll();
  overflow-x: auto;
  &::-webkit-scrollbar {
    height: 8px;
  }
}

@mixin scroll-none {
  overflow-y: auto;
  /* width */

  &::-webkit-scrollbar {
    display: none;
  }
}

.scroll {
  @include scroll();
}
