@import 'src/styles/variables.scss';

.logoWhite {
  display: none;
}
.container.blurred {
  filter: blur(4px);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 52px;
  padding-bottom: 41px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 24px;
  li {
    font-size: 18px;
    font-weight: 500;
    list-style-type: none;
    .item {
      color: $primary-text;
    }
  }
}

.menuButton {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}
.buttonsWrap {
  display: flex;
  align-items: center;
  gap: 24px;
}
@media (max-width: 1200px) {
  .menu {
    li {
      font-size: 16px;
    }
  }
}
@media (max-width: 1100px) {
  .menu {
    li {
      font-size: 15px;
    }
  }
}
@media (max-width: 1000px) {
  .logoWhite {
    display: flex;
  }
  .logo {
    display: none;
  }
  .header {
    padding-left: 5px;
    padding-right: 5px;
    width: 93%;
    position: absolute;
  }
  .menu {
    position: absolute;
    top: 100px;
    width: 100%;
    background: white;
    display: none;
    align-items: start;
    flex-direction: column;
    padding: 20px 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: left;
  }

  .menu.open {
    display: flex;
  }

  .menuButton {
    display: block;
  }
}
