@import 'src/styles/variables.scss';
.review {
  margin-top: 303px;
}
.title {
  font-family: Inter;
  font-size: 50px;
  font-weight: 600;
  line-height: 60.51px;
  text-align: left;
}
.reviewCards {
  margin-top: 32px;
  display: flex;
  gap: 20px;
  img {
    border-radius: 20px;
  }
}
.content {
  border-radius: 20px;
  background-color: $primary;
  color: $secondary-text;
  padding: 40px;
  .user {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 15px;
    div {
      display: flex;
      flex-direction: column;
      gap: 5px;
      h4 {
        font-family: TT Interfaces;
        font-size: 20px;
        font-weight: 500;
        line-height: 28px;
        text-align: left;
      }
      span {
        font-family: TT Interfaces;
        font-size: 16px;
        font-weight: 500;
        line-height: 22.4px;
        text-align: left;
      }
    }
  }
  h3 {
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 37px;
    text-align: left;
  }
  p {
    margin-top: 32px;
    font-family: TT Interfaces;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }
}
@media (max-width: 1100px) {
  .title {
    font-size: 48px;
    margin-bottom: 25px;
    line-height: 54px;
  }
  .content {
    padding: 35px;
  }
}
@media (max-width: 900px) {
  .docImg {
    display: none;
  }
  .content {
    padding: 30px;
  }
}
@media (max-width: 700px) {
  .title {
    font-size: 44px;
    margin-bottom: 20px;
    line-height: 50px;
  }
  .content {
    padding: 25px;
  }
}

@media (max-width: 365px) {
  .title {
    font-size: 24px;
    line-height: 30px;
  }
  .content {
    padding: 20px;
    h3 {
      font-size: 16px;
      line-height: 26px;
    }
    p {
      font-size: 16px;
    }
  }
}
